<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WebRTC的测试页面</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <button ion-button (click)="setStream()" id="hangupButton" [disabled]="step!=0">1.setStream(本地视频流绑定)</button>
    <button ion-button (click)="Start()" id="startButton" [disabled]="step!=1">2.socket.io连接</button>
    <button ion-button (click)="Call()" id="callButton" [disabled]="step!=2">2.Call(业务层)</button>
    <button ion-button (click)="answer()" id="restartButton" [disabled]="step!=2">3.ok(业务层)</button>
    <button ion-button (click)="peerconnection()" id="restartButton" [disabled]="step!=3">4.peerconnection</button>
    <button ion-button (click)="setoffer()" id="hangupButton" [disabled]="step!=4">5.setoffer</button>
  </div>
  <div>
    <video #video id="localVideo" autoplay></video>
  </div>
  <div>
    <video #video2 id="remoteVideo" autoplay></video>
  </div>
</ion-content>
